{% extends 'layouts/default/base_page.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block css %}
<script type="text/javascript">
    if (screen.width <= 768) {
        window.location = "{% url 'main:index_m' %}";
    }
</script>
{% endblock %}

{% block content %}
<section class="values">

  <div class="container" data-aos="fade-up">

        <header class="section-header">
            <br>
          <p>All Booking</p>
            <br>
        </header>
    <h1>Hi {{ request.user.username }}</h1>
    <h2><u>Airport Services</u></h2>
  <ul>
    {% for service in airport_services %}
      <li>{{ service.client }} - {{ service.journey_type }}</li>
    {% empty %}
      <li>No airport services found.</li>
    {% endfor %}
  </ul>

    <h2><u>Accommodation Services</u></h2>
  <ul>
    {% for service in accommodation_services %}
      <li>{{ service.client }} - {{ service.occupancy }}</li>
    {% empty %}
      <li>No accommodation services found.</li>
    {% endfor %}
  </ul>

    <h2><u>Hotel Services</u></h2>
  <ul>
    {% for service in hotel_services %}
      <li><a href="{% url 'main:hotel' %}{{ service.order_id }}">{{ service.client }} - {{ service.check_in_date }}</a></li>
    {% empty %}
      <li>No hotel services found.</li>
    {% endfor %}
  </ul>
  </div>
  </section>
{% endblock %}