<html>
<head>
        <script
        id="search-js"
        defer
        src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js">
    </script>
    <script>
        const script = document.getElementById('search-js');
        script.onload = function() {
            mapboxsearch.autofill({
                accessToken: 'pk.eyJ1Ijoic3JpdmFyZGhhbiIsImEiOiJjbGcxdmFmODMxNm1lM2pwOTRtNnVmYmZwIn0.8WeQuZvoT73z20YlwCxA5Q',
                options: { country: 'PK' }
            });
        };
    </script>

</head>
<body>
<form>
<input
name="address" placeholder="Address" type="text"
autocomplete="address-line1"
/>
<input
name="apartment" placeholder="Apartment number" type="text"
autocomplete="address-line2"
/>
<input
name="city" placeholder="City" type="text"
autocomplete="address-level2"
/>
<input
name="state" placeholder="State" type="text"
autocomplete="address-level1"
/>
<input
name="country" placeholder="Country" type="text"
autocomplete="country"
/>
<input
name="postcode" placeholder="Postcode" type="text"
autocomplete="postal-code"
/>
</form>
</body>
</html>