{% extends 'layouts/default/base_page_m.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block title %}
Airport Taxis
{% endblock %}

{% block css %}
<script defer async type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script type="text/javascript">
    if (screen.width > 768) {
  window.location = "{% url 'main:taxi' %}";
    }
</script>
{% endblock %}

{% block content %}
<section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
            <br>
          <p>Airport Taxi</p>
            <br>
          <h2>Easy transportation between the airport and your accommodations</h2>
        </header>

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box" style="padding: 1px 1px;">
                <div class="card border-primary" style="flex-direction: row">
                  <img src="{% static 'assets/img/plane.webp' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="test-section">
                        <h5 class="card-title"><b>Flight Tracking</b></h5>
                      <p class="card-text">Your driver will track your flight and wait for you if it's delayed</p>
                      </div>
                  </div>
                </div>
                <div class="card border-primary" style="flex-direction: row">
                  <img src="{% static 'assets/img/credit-card.webp' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="test-section">
                        <h5 class="card-title"><b>One clear price</b></h5>
                      <p class="card-text">Your price is confirmed up front – no extra costs, no cash required</p>
                      </div>
                  </div>
                </div> <div class="card border-primary" style="flex-direction: row">
                  <img src="{% static 'assets/img/checked.webp' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="test-section">
                        <h5 class="card-title"><b>Tried and true service</b></h5>
                      <p class="card-text">We work with professional drivers and have 24/7 customer care</p>
                      </div>
                  </div>
                </div>

            </div>
        </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
                					        {% bootstrap_messages %}
                <form action="{% url 'main:taxi' %}" method="post" role="form">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="order_id" value="{{ order_id }}">
              <div class="row gy-4">
                <div class="col-md-6">
                    <label class="form-label"><b>Journey From</b></label>
                    <select name="journey_type" class="form-control" required>
                        <option value="A-C" selected>From Airport to City</option>
                        <option value="C-A">From City to Airport</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label"><b>Preferred Car Type</b></label>
                        <select name="car_type" class="form-control" required>
                            <option value disabled selected hidden>Car Type</option>
                            <option value="Mini">Standard</option>
                            <option value="Sedan">Sedan</option>
                            <option value="SUV">SUV</option>
                            <option value="Van">Van</option>
                        </select>
                </div>

                  <div class="col-md-6">
                      <label class="form-label"><b>Travel Date</b></label>
                    <input type="date" class="form-control" name="travel_date" required>
                  </div>
                  <div class="col-md-6">
                      <label class="form-label"><b>Travel Time</b></label>
                    <input type="time" class="form-control" name="travel_time" required>
                  </div>

                <div class="col-md-12 ">
                    <label class="form-label"><b>Pickup/Drop Address</b></label>
                  <input type="text" id="autocomplete" class="form-control" name="address" placeholder="Your Address" required>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" value="Submit" class="btn btn-primary">Request Taxi</button>
                </div>

              </div>
            </form>
            </div>
          </div>



        </div>
      </div>

    </section>
<div class="bottom-bar">
      <a href="{% url 'main:index' %}">
      <ion-icon name="home-outline" class="icon" onclick="change(this)">
      </ion-icon>
      </a>
      <a href="{% url 'main:taxi_m' %}">
      <ion-icon name="car-outline" class="icon active" onclick="change(this)">
      </ion-icon>
      </a>
      <a href="{% url 'main:accommodation_m' %}">
      <ion-icon name="bed-outline" class="icon" onclick="change(this)">
      </ion-icon>
      </a>
      <a href="{% url 'main:hotel_m' %}">
      <ion-icon name="business-outline" class="icon" onclick="change(this)">
      </ion-icon>
      </a>
    </div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9V0M-2vgBWCAPEjp4tEKNfU_yk0kyCI8&libraries=places&callback=initAutocomplete">
  </script>
  <script>
    let autocomplete;
    var bangaloreBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(12.864162, 77.438610),
        new google.maps.LatLng(13.139807, 77.711895));
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'),
            {
                bounds: bangaloreBounds,
                strictBounds: true,
                // types: ['university', 'locality', 'landmark', 'neighborhood', 'street_address'],
                componentRestrictions: {'country': 'IN'},
            });
    }
    </script>
<script>
    function change(item){
        const buttons = document.querySelectorAll('ion-icon');
        buttons.forEach(function(obj){
            obj.classList.remove("active");
        });
        item.classList.add("active");
    }
</script>
{% endblock %}