{% load  static %}
<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home:home' %}#hero" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo4.png' %}" alt="">
        <span>ShelterSearch</span>
      </a>
        <!-- ====== Navbar ====== -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home:home' %}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#values">Services</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:contact' %}">Contact</a></li>
          <li><a class="getstarted scrollto" href="{% url 'accounts:sign_up' %}">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
        <!-- ======.navbar ====== -->

    </div>
  </header>
<!-- End Header -->
