{% extends 'accounts/base_file.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block title %}Restore Password{% endblock %}

{% block content %}
					<div class="card shadow-lg">
						<div class="card-body p-5">
                            <h2 style="color: #013ca3; font-family: sans-serif ">Restore Password</h2>
                            {% if validlink %}
                                <p>
                                    {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
                                </p>

							<br>
                            <form method="post" class="php-email-form">

        						{% csrf_token %}
				                {% bootstrap_form form label_class="form-label" show_help=False show_label=False %}
								<br>
                                <div class="d-grid gap-2">
                                  {% bootstrap_button "Change" button_type="submit" button_class="btn-primary" %}
                                </div>
    						</form>
                        {% else %}

                        <div class="alert alert-danger">
                            {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
                        </div>

                        {% endif %}
						</div>
					</div>
{% endblock %}



