{% extends 'layouts/default/base_page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<br><br>
<section id="contact" class="contact">

      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h2>ShelterSearch</h2>
          <p>{% trans 'Change Password' %}</p>
        </header>
        {% bootstrap_messages %}
<!--    <h4>{% trans 'Change password' %}</h4>-->
    <div class="row gy-4">
          <div class="col-lg-12">
    <form method="post" class="php-email-form">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Change' %}</button>

    </form>
          </div>
    </div>

  </div>
</section>
{% endblock %}
